{{> partials/header }}
<div id="svgs" style="display:none">
  {{> svg/leaf.svg }}
  {{> svg/mushroom.svg }}
  {{> svg/chevron.svg }}
  {{> (concat "svg/" siteId ".svg")}}
</div>
<div class="s-page s-page--home s-search__fullpage {{concat " s-" siteId}}">
  <div class="s-page-wrapper">
    {{> partials/page-header}}
    <div class="c-search autocomplete-form">
      <div class="central">
        <div class="central-items">
          <div class="c-intro">
            {{> (concat "partials/intro/" siteId) }}
          </div>
          <main id="main" class="front-page" tabindex="-1">
            {{> partials/search/search-box }}
          </main>
          {{#if cross-site-link.present}}
            <div class="form-inline--search form-links">
              <ul>
                  <li>
                    Looking for a Colombian {{ cross-site-type }} instead? <a class="form-link" href="{{cross-site-link.value.href}}">{{cross-site-link.value.text}} {{> svg/external-link }}</a>
                  </li>
              </ul>
            </div>
          {{/if}}
        </div>
      </div>
      <aside>
        <div class="featured">
          {{> (concat "partials/featured/featured-" siteId)}}
        </div>
      </aside>
    </div>
    <div class="featured-taxa-sections">
      {{> partials/featured/featured-taxa-sections}}
    </div>
    {{> partials/footer-links}}
  </div>
</div>
<script>
  window.siteData = {
    basePageTitle: "{{ title }}"
  }
</script>
{{> partials/footer initialize="static"}}