{{> partials/header }}
<div id="svgs" style="display:none">
  {{> svg/leaf.svg }}
  {{> svg/mushroom.svg }}
  {{> svg/chevron.svg }}
  {{> (concat "svg/" siteId ".svg")}}
</div>
<div class="s-page s-page--home s-search__top {{concat " s-" siteId}}">
  <div class="s-page-wrapper">
    {{> partials/page-header withSearchBox="true"}}
    <div class="c-search results-grid">
      {{#if cross-site-link.present}}
      <nav class="form-inline--search form-links">
        <ul>
            <li>
              Looking for a Colombian {{ cross-site-type }} instead? <a class="form-link" href="{{cross-site-link.value.href}}">{{cross-site-link.value.text}} {{> svg/external-link }}</a>
            </li>
        </ul>
      </nav>
      {{/if}}
      <!-- results loaded in results js/results -->
    </div>
    {{> partials/footer-links}}
  </div>
</div>
<script>
  window.siteData = {
    basePageTitle: "{{ title }}"
  }
</script>
{{> partials/footer initialize="search"}}