{{> partials/header}}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div id="{{taxon.identifier}}" class="s-page s-page--taxon {{concat "s-" siteId}}">
  {{> partials/page-header withSearchBox="true" }}

  <main role="main" class="c-article" id="main">
    <div class="c-article-header">
      <div class="container">
        <div class="c-summary">
          {{> partials/taxon/classification taxon}}          
          <h1 class="c-summary__heading">{{taxonNameAndAuthor taxon}}</h1>
          <div class="details">
            {{{summary}}}
            {{#if taxon.acceptedNameUsage }}
              {{taxonLink taxon.acceptedNameUsage}}
            {{/if}}
          </div>
        </div>
        {{#with imageSet.headerImage }}
          <a href="#" class="c-gallery-header" role="button" aria-label="Open image gallery">
            <img src="{{ fullsizeUrl }}" alt="" />
          </a>
        {{/with}}
      </div>
    </div>
    
  <nav class="navbar navbar-default navbar--article navbar-expand-lg" aria-label="Internal page navigation">
    <button class="navbar-toggler mobile-menu" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Internal page navigation">
      On this page
      <svg class="pull-right" width="14" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1.044C0 .776.103.51.308.305a1.058 1.058 0 0 1 1.487 0L7 5.478 12.205.305a1.058 1.058 0 0 1 1.487 0c.41.408.41 1.07 0 1.477L7.744 7.694a1.056 1.056 0 0 1-1.487 0L.308 1.782A1.035 1.035 0 0 1 0 1.044Z" fill="#262626" fill-rule="evenodd"/>
      </svg>
    </button>
    <div class="c-article-nav collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-nav--article nav-item">
        {{#if descriptions}}
        <li><a href="#descriptions">Descriptions</a></li>
        {{/if}}

        {{#if uses}}
        <li><a href="#uses">Uses</a></li>
        {{/if}}

        {{#if imageSet}}
        <li><a href="#image-gallery">Images</a></li>
        {{/if}}

        {{#if distributions}}
        <li><a href="#distribution-map">Distribution</a></li>
        {{/if}}

        {{#if children}}
        <li><a href="#children">Accepted {{childRank taxon}}</a></li>
        {{/if}}

        {{#if synonyms}}
        <li><a href="#synonyms">Synonyms</a></li>
        {{/if}}

        {{#if vernacularNames}}
        <li><a href="#vernacular-names">Common Names</a></li>
        {{/if}}

        <li><a href="#other-data">Other Data</a></li>

        {{#if bibliography}}
        <li><a href="#bibliography">Bibliography</a></li>
        {{/if}}

        <li><a href="#sources">Sources</a></li>
      </ul>
      <button aria-label="Back to top of page" class="glyphicon glyphicon-arrow-up to-top"></button>
    </div>
  </nav>
    <div class="container">
    {{#with descriptions}}
    <section id="descriptions" class="c-article-section">
      <h2>

      <button class="btn btn-default collapser c-article-section__title"
         data-toggle="collapse"
         data-target="#descriptions-main"
         aria-expanded="false"
         >
        Descriptions
      </button>
      </h2>
      <div id="descriptions-main" class="container collapse in">
        <div class="row">
          <aside class="c-article-section__aside">
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes data from the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          <div class="c-article-section__content">
            {{#each bySource}}
            <div class="description">
              <h3>
                <button class="btn btn-default collapser {{#unless @first}}collapsed{{/unless}}"
                 data-toggle="collapse"
                 data-target="#descriptions-{{source.abbreviation}}-{{@index}}"
                 aria-expanded="false">
                According to {{source.title}}{{#if isFromSynonym}} under the synonym {{asTaxon.scientificName}}{{/if}}
                </button>
              </h3>
              <small>{{bracketedSourceLink source}}</small>
              <div id="descriptions-{{source.abbreviation}}-{{@index}}" class="collapse {{#if @first}} in{{/if}}">
                {{#if conceptSource}}<p class="descriptions-concept-source">{{conceptSource}}</p>{{/if}}
                <dl class="c-article-desc-table">
                  {{#each byType}}
                    <dt>
                    {{#each type.typeHierarchy}}
                      <span class="description-type-list-item">{{message name}}</span>
                    {{/each}}
                    </dt>
                    <dd>
                    {{#each descriptions}}
                      {{{description}}}
                    {{/each}}
                  </dd>
                  {{/each}}
                </dl>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with uses}}
    <section id="uses" class="c-article-section">
      <h2>
        <button class="btn btn-default collapser c-article-section__title"
           data-toggle="collapse"
           data-target="#uses-main"
           aria-expanded="false">
          Uses
        </button>
      </h2>
      <div id="uses-main" class="container collapse in">
        <div class="row">
          <aside class="c-article-section__aside">
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes data from the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          <div class="c-article-section__content">
            {{#each bySource}}
            <div class="description">
              <h3>
                <button class="btn btn-default collapser {{#unless @first}} {{/unless}}"
                   data-toggle="collapse"
                   data-target="#uses-{{source.abbreviation}}-{{@index}}"
                   aria-expanded="false"
                   >
                   According to {{source.title}}{{#if isFromSynonym}} under the synonym {{asTaxon.scientificName}}{{/if}}
                </button>
              </h3><small>{{bracketedSourceLink source}}</small>
              <dl id="uses-{{source.abbreviation}}-{{@index}}" class="collapse {{#if @first}} in{{/if}}">
                {{#each byType}}
                  <dt>
                  {{#each type.typeHierarchy}}
                    <span class="description-type-list-item">{{message name}}</span>
                  {{/each}}
                  </dt>
                  <dd>
                  {{#each descriptions}}
                    {{{description}}}
                  {{/each}}
                </dd>
                {{/each}}
              </dl>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with imageSet}}
    <section id="image-gallery" class="c-article-section">
      <h2>
        <button class="btn btn-default collapser c-article-section__title"
           data-toggle="collapse"
           data-target="#gallery-main"
           aria-expanded="true"
           >
          Images
        </button>
      </h2>
      <div id="gallery-main" class="container collapse in">
        <div class="row">
          <aside class="c-article-section__aside">
            <p>Includes {{imageCount}} images</p>
            <p class="sr-only">Please check description above for more details.</p>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          <div class="c-article-section__content">

            <div class="c-gallery clearfix">
              {{#each imageSet.images }}
                <div class="c-gallery__image-container">
                  <a href="{{ fullsizeUrl }}" role="button" data-caption="{{ caption }}" aria-expanded="false" aria-label="Open image gallery">
                    <img src="{{ thumbnailUrl }}" alt="">
                  </a>
                </div>
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with distributions}}
    <section id="distribution-map" class="c-article-section">
      <h2>
        <button class="btn btn-default collapser c-article-section__title"
           data-toggle="collapse"
           data-target="#distribution-main"
           aria-expanded="true"
           >
          Distribution
        </button>
      </h2>
      <div id="distribution-main" class="container collapse in">
        <div class="row">
          <aside class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          <div class="c-article-section__content">
            <div id="c-map">
            </div>

            <button class="btn btn-default collapser"
               data-toggle="collapse"
               data-target="#distribution-listing"
               aria-expanded="false">
              Full Distribution Listing
            </button>
            <div id="distribution-listing" class="collapse in">
              {{#if doubtful}}
              <h3>Doubtfully present in:</h3>
              <p>
              {{#each doubtful}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if natives}}
              <h3>Native to:</h3>
              <p>
              {{#each natives}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if present}}
              <h3>Present in:</h3>
              <p>
              {{#each present}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if extinct}}
              <h3>Extinct in:</h3>
              <p>
              {{#each extinct}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if introduced}}
              <h3>Introduced into:</h3>
              <p>
              {{#each introduced}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if absent}}
              <h3>Recorded in error in:</h3>
              <p>
              {{#each absent}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with children}}
    <section id="children" class="c-article-section">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           data-toggle="collapse"
           data-target="#children-main"
           aria-expanded="true"
           >
           Accepted {{childRank taxon}}
        </button>
      </h2>
      <div id="children-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside class="c-article-section__aside">
            <p>Includes {{nonHybridCount}} Accepted {{childRank taxon}}</p>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with synonyms}}
    <section id="synonyms" class="c-article-section">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           data-toggle="collapse"
           data-target="#synonyms-main"
           aria-expanded="true"
           >
           Synonyms
        </button>
      </h2>
      <div id="synonyms-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside class="c-article-section__aside">
            <p>Has {{count}} Synonyms</p>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with vernacularNames}}
    <section id="vernacular-names" class="c-article-section">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           data-toggle="collapse"
           data-target="#venacular-names-main"
           aria-expanded="true"
           >
          Common Names
        </button>
      </h2>
      <div id="venacular-names-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes vernacular names for the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <dl class="dl-horizontal">
              {{#each sortedByLanguage as |names language|}}
              <dt>{{language}}</dt>
              <dd>
              {{#each names as |commonName|}}
                {{commonName}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </dd>
              {{/each}}
            </dl>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    <section id="other-data" class="c-article-section offset">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           
           data-toggle="collapse"
           data-target="#other-data-main"
           aria-expanded="true"
           >
          Other Data
        </button>
      </h2>
      <div id="other-data-main" class="container collapse in">
        <div class="row">
          <div class="c-article-section__content">
            <h3>{{nameAndAuthor taxon}} appears in other Kew resources:</h3>
            {{#if taxon.plantae }}
            <div><h4><a target="_blank" href="{{taxon.uri}}">IPNI - The International Plant Names Index</a></h4></div>
            {{/if}}
            {{#if taxon.fungi }}
            <div><h4><a target="_blank" href="{{taxon.uri}}">IF - Index Fungorum</a></h4></div>
            {{/if}}
            {{#with identifications}}
            <div>
              <h4>
                <button class="btn btn-default collapser"
                   data-toggle="collapse"
                   data-target="#determinations"
                   aria-expanded="false"
                   >
                  Herbarium Catalogue ({{identificationsCount}} records)</button>
              </h4>
              <div id="determinations" class="table-responsive collapse in">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Reference</th>
                      <th>Identified As</th>
                      <th>Barcode</th>
                      <th>Type Status</th>
                      <th>Has image?</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each identifications}}
                      <tr>
                      <td>{{date}}</td>
                      <td>{{notes}}</td>
                      <td>{{{ identifiedAs }}}</td>
                      <td><a href="{{url}}" target="_blank">{{barcode}}</a></td>
                      <td>{{typeStatus}}</td>
                      <td>
                        {{#if hasImage}}Yes{{else}}No{{/if}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{/with}}
          </div>
        </div>
      </div>
    </section>

    {{#if bibliography}}
    <section id="bibliography" class="c-article-section">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           data-toggle="collapse"
           data-target="#bibliography-main"
           aria-expanded="true"
           >
          Bibliography
        </button>
      </h2>
      <div id="bibliography-main" class="container collapse in">
        <script>
          var bibliography = {
            {{#if bibliography.accepted}}accepted: {{{bibliography.acceptedJSON}}},{{/if}}
            {{#if bibliography.notAccepted}}notAccepted: {{{bibliography.notAcceptedJSON}}},{{/if}}
            {{#if bibliography.liturature}}liturature: {{{bibliography.lituratureJSON}}},{{/if}}
          }
        </script>
        <div class="row">
          {{#if bibliography.hasReferences}}
          <aside class="c-article-section__aside">
            <div class="bibliography-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="sort-bibliography" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="sort-bibliography">
                <li><a role="button" id="sort-bibliography-by-citation" class="selected_background" href="#" href="#">Alphabetically</a></li>
                <li><a role="button" id="sort-bibliography-by-newest-first" href="#">Newest first</a></li>
                <li><a role="button" id="sort-bibliography-by-oldest-first" href="#">Oldest first</a></li>
              </ul>
            </div>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            {{#if taxon.namePublishedInString}}
              <h3>First published in {{taxon.namePublishedInString}}</h3>
            {{/if}}
            {{> partials/taxon/bibliography }}
          </div>
        </div>
      </div>
    </section>
    {{/if}}

    <section id="sources" class="c-article-section">
      <h2>
        <button class="btn btn-default c-article-section__title collapser"
           data-toggle="collapse"
           data-target="#sources-main"
           aria-expanded="true"
           >
          Sources
        </button>
      </h2>
      <div id="sources-main" class="container collapse in">
        <div class="row">
          <div class="c-article-section__content">
            <ul class="list-unstyled">
              {{#each sources.sorted}}
              <li id="source-{{organisation.abbreviation}}">
                <h3 class="taxon__sources-header"><strong>{{organisation.title}}</strong></h3>
                <p>
                {{#if organisation.bibliographicCitation}}
                {{organisation.bibliographicCitation}}<br/>
                {{/if}}
                {{#each licenses}}
                  {{#if notBlank}}
                    <small class="text-muted offset">{{{rights}}} {{license}}</small><br/>
                  {{/if}}
                {{/each}}
                </p>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    </div>
  </main>

  {{> partials/footer-links}}
</div>
{{> partials/footer initialize="taxon"}}
