{{> partials/header}}

<div id="svgs" style="display:none">
{{> (concat "svg/" siteId ".svg")}}
</div>

<div id="{{taxon.identifier}}" class="s-page s-page--taxon {{concat "s-" siteId}}">
  {{> partials/page-header withSearchBox="true" }}

  <main class="c-article" id="main">
    <header class="c-article-header">
      <div class="container">
        <div class="c-summary">
          {{classification taxon}}
          {{#with summary}}
            <div class="details">
              {{{this}}}
              {{#with taxon.acceptedNameUsage }}
                {{taxonLink this}}
              {{/with}}
            </div>
          {{/with}}
        </div>
        {{#with imageSet.headerImage }}
          <a href="{{ fullsizeUrl }}" class="c-gallery-header" data-caption="{{ caption }}" role="button">
            <img src="{{ fullsizeUrl }}" alt="" />
          </a>
        {{/with}}
      </div>
    </header>
    
  <nav class="navbar navbar-default navbar--article navbar-expand-lg">
    <button class="navbar-toggler mobile-menu" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      On this page
      <svg class="pull-right" width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
          <title>Iconography/16x16/Arrow/Down/Black</title>
          <desc>Created with Sketch.</desc>
          <g id="Module-World-location" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-1.000000, -4.000000)" fill="#262626">
                  <path d="M1,5.04434791 C1,4.77632278 1.10299816,4.50929775 1.3079945,4.30527862 C1.71798718,3.89824046 2.38397529,3.89824046 2.79496795,4.30527862 L7.999875,9.47776354 L13.2047821,4.30527862 C13.6157747,3.89824046 14.2807628,3.89824046 14.6917555,4.30527862 C15.1027482,4.71331687 15.1027482,5.37537894 14.6917555,5.7824171 L8.74386172,11.6939713 C8.33286906,12.1020096 7.66688095,12.1020096 7.25688827,11.6939713 L1.3079945,5.7824171 C1.10299816,5.57939807 1,5.31237303 1,5.04434791 Z"></path>
              </g>
          </g>
      </svg>
    </button>
    <div class="c-article-nav collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-nav--article nav-item">
        {{#if descriptions}}
        <li><a href="#descriptions">Descriptions</a></li>
        {{/if}}

        {{#if uses}}
        <li><a href="#uses">Uses</a></li>
        {{/if}}

        {{#if imageSet}}
        <li><a href="#image-gallery">Images</a></li>
        {{/if}}

        {{#if distributions}}
        <li><a href="#distribution-map">Distribution</a></li>
        {{/if}}

        {{#if children}}
        <li><a href="#children">Accepted {{childRank taxon}}</a></li>
        {{/if}}

        {{#if synonyms}}
        <li><a href="#synonyms">Synonyms</a></li>
        {{/if}}

        {{#if vernacularNames}}
        <li><a href="#vernacular-names">Common Names</a></li>
        {{/if}}

        <li><a href="#other-data">Other Data</a></li>

        {{#if bibliography}}
        <li><a href="#bibliography">Bibliography</a></li>
        {{/if}}

        <li><a href="#sources">Sources</a></li>
      </ul>
      <button class="glyphicon glyphicon-arrow-up to-top"></button>
    </div>
  </nav>
    <div class="container">
    {{#with descriptions}}
    <section id="descriptions" class="c-article-section">
      <h2>

      <button class="btn collapser c-article-section__title"
         role="button"
         data-toggle="collapse"
         data-target="#descriptions-main"
         aria-expanded="false"
         >
        Descriptions
      </button>
      </h2>
      <div id="descriptions-main" class="container collapse in">
        <div class="row">
          <aside role="complementary" class="c-article-section__aside">
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes data from the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          <div class="c-article-section__content">
            {{#each bySource}}
            <div class="description">
              <h3>
                <button class="btn collapser {{#unless @first}} {{/unless}}"
                 role="button"
                 data-toggle="collapse"
                 data-target="#descriptions-{{source.abbreviation}}-{{@index}}"
                 aria-expanded="false">
                According to {{source.title}}{{#if isFromSynonym}} under the synonym {{asTaxon.scientificName}}{{/if}}
                </button>
              </h3>
              <small>{{bracketedSourceLink source}}</small>
              <div id="descriptions-{{source.abbreviation}}-{{@index}}" class="collapse {{#if @first}} in{{/if}}">
                {{#if conceptSource}}<p class="descriptions-concept-source">{{conceptSource}}</p>{{/if}}
                <dl class="c-article-desc-table">
                  {{#each byType}}
                    <dt>
                    {{#each type.typeHierarchy}}
                      <span class="description-type-list-item">{{message name}}</span>
                    {{/each}}
                    </dt>
                    <dd>
                    {{#each descriptions}}
                      {{{description}}}
                    {{/each}}
                  </dd>
                  {{/each}}
                </dl>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with uses}}
    <section id="uses" class="c-article-section">
      <h2>
        <button class="btn collapser c-article-section__title"
           role="button"
           data-toggle="collapse"
           data-target="#uses-main"
           aria-expanded="false">
          Uses
        </button>
      </h2>
      <div id="uses-main" class="container collapse in">
        <div class="row">
          <aside role="complementary" class="c-article-section__aside">
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes data from the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          <div class="c-article-section__content">
            {{#each bySource}}
            <div class="description">
              <h3>
                <button class="btn collapser {{#unless @first}} {{/unless}}"
                   role="button"
                   data-toggle="collapse"
                   data-target="#uses-{{source.abbreviation}}-{{@index}}"
                   aria-expanded="false"
                   >
                   According to {{source.title}}{{#if isFromSynonym}} under the synonym {{asTaxon.scientificName}}{{/if}}
                </button>
              </h3><small>{{bracketedSourceLink source}}</small>
              <dl id="uses-{{source.abbreviation}}-{{@index}}" class="collapse {{#if @first}} in{{/if}}">
                {{#each byType}}
                  <dt>
                  {{#each type.typeHierarchy}}
                    <span class="description-type-list-item">{{message name}}</span>
                  {{/each}}
                  </dt>
                  <dd>
                  {{#each descriptions}}
                    {{{description}}}
                  {{/each}}
                </dd>
                {{/each}}
              </dl>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with imageSet}}
    <section id="image-gallery" class="c-article-section">
      <h2>
        <button class="btn collapser c-article-section__title"
           role="button"
           data-toggle="collapse"
           data-target="#gallery-main"
           aria-expanded="true"
           >
          Images
        </button>
      </h2>
      <div id="gallery-main" class="container collapse in">
        <div class="row">
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          <div class="c-article-section__content">

            <div class="c-gallery clearfix">
              {{#each imageSet.images }}
                <a href="{{ fullsizeUrl }}" role="button" data-caption="{{ caption }}">
                  <figure>
                    <img src="{{ thumbnailUrl }}" alt="">
                  </figure>
                </a>
              {{/each}}
            </div>

          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with distributions}}
    <section id="distribution-map" class="c-article-section">
      <h2>
        <button class="btn collapser c-article-section__title"
           role="button"
           data-toggle="collapse"
           data-target="#distribution-main"
           aria-expanded="true"
           >
          Distribution
        </button>
      </h2>
      <div id="distribution-main" class="container collapse in">
        <div class="row">
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          <div class="c-article-section__content">
            <div id="c-map">
            </div>

            <button class="btn collapser"
               role="button"
               data-toggle="collapse"
               data-target="#distribution-listing"
               aria-expanded="false">
              Full Distribution Listing
            </button>
            <div id="distribution-listing" class="collapse in">
              {{#if doubtful}}
              <h3>Doubtfully present in:</h3>
              <p>
              {{#each doubtful}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if natives}}
              <h3>Native to:</h3>
              <p>
              {{#each natives}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if present}}
              <h3>Present in:</h3>
              <p>
              {{#each present}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if extinct}}
              <h3>Extinct in:</h3>
              <p>
              {{#each extinct}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if introduced}}
              <h3>Introduced into:</h3>
              <p>
              {{#each introduced}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}

              {{#if absent}}
              <h3>Recorded in error in:</h3>
              <p>
              {{#each absent}}
              {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with children}}
    <section id="children" class="c-article-section">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#children-main"
           aria-expanded="true"
           >
           Accepted {{childRank taxon}}
        </button>
      </h2>
      <div id="children-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <p>Includes {{nonHybridCount}} Accepted {{childRank taxon}}</p>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with synonyms}}
    <section id="synonyms" class="c-article-section">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#synonyms-main"
           aria-expanded="true"
           >
           Synonyms
        </button>
      </h2>
      <div id="synonyms-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <p>Has {{count}} Synonyms</p>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with vernacularNames}}
    <section id="vernacular-names" class="c-article-section">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#venacular-names-main"
           aria-expanded="true"
           >
          Common Names
        </button>
      </h2>
      <div id="venacular-names-main" class="container collapse in">
        <div class="row">
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
            {{#with synonymsIncluded}}
            <p class="includes_data"><b>Includes vernacular names for the synonyms: </b></p>
            <ul class="c-plain-list includes_data">
              {{#each synonymsIncluded}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
            {{/with}}
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            <dl class="dl-horizontal">
              {{#each sortedByLanguage as |names language|}}
              <dt>{{language}}</dt>
              <dd>
              {{#each names as |commonName|}}
                {{commonName}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </dd>
              {{/each}}
            </dl>
          </div>
        </div>
      </div>
    </section>
    {{/with}}

    <section id="other-data" class="c-article-section offset">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#other-data-main"
           aria-expanded="true"
           >
          Other Data
        </button>
      </h2>
      <div id="other-data-main" class="container collapse in">
        <div class="row">
          <div class="c-article-section__content">
            <h3>{{nameAndAuthor taxon}} appears in other Kew resources:</h3>
            {{#if taxon.plantae }}
            <div><h4><a target="_blank" href="{{taxon.uri}}">IPNI - The International Plant Names Index</a></h4></div>
            {{/if}}
            {{#if taxon.fungi }}
            <div><h4><a target="_blank" href="{{taxon.uri}}">IF - Index Fungorum</a></h4></div>
            {{/if}}
            {{#with identifications}}
            <div>
              <h4>
                <button class="btn collapser"
                   role="button"
                   data-toggle="collapse"
                   data-target="#determinations"
                   aria-expanded="false"
                   >
                  Herbarium Catalogue ({{count}} records)</button>
              </h4>
              <div id="determinations" class="table-responsive collapse in">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Reference</th>
                      <th>Identified As</th>
                      <th>Barcode</th>
                      <th>Type Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each identifications}}
                      <tr
                        {{#if thumbnail}}
                        data-toggle="popover"
                        data-html="true"
                        data-placement="left"
                        data-content='<img src="{{thumbnail}}.jpg"/>'
                        data-trigger="hover"
                        {{/if}}
                      >
                      <td>{{date}}</td>
                      <td>{{notes}}</td>
                      <td>{{{ identifiedAs }}}</td>
                      <td><a href="{{url}}" target="_blank">{{barcode}}</a></td>
                      <td>{{typeStatus}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
            {{/with}}
          </div>
        </div>
      </div>
    </section>

    {{#if bibliography}}
    <section id="bibliography" class="c-article-section">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#bibliography-main"
           aria-expanded="true"
           >
          Bibliography
        </button>
      </h2>
      <div id="bibliography-main" class="container collapse in">
        <script type="text/javascript">
          var bibliography = {
            {{#if bibliography.accepted}}accepted: {{{bibliography.acceptedJSON}}},{{/if}}
            {{#if bibliography.notAccepted}}notAccepted: {{{bibliography.notAcceptedJSON}}},{{/if}}
            {{#if bibliography.liturature}}liturature: {{{bibliography.lituratureJSON}}},{{/if}}
          }
        </script>
        <div class="row">
          {{#if bibliography.hasReferences}}
          <aside role="complementary" class="c-article-section__aside">
            <div class="bibliography-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="sort-bibliography" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="sort-bibliography">
                <li><a id="sort-bibliography-by-citation" class="selected_background" href="#" href="#">Alphabetically</a></li>
                <li><a id="sort-bibliography-by-newest-first">Newest first</a></li>
                <li><a id="sort-bibliography-by-oldest-first" href="#">Oldest first</a></li>
              </ul>
            </div>
          </aside>
          {{/if}}
          <div class="c-article-section__content">
            {{#if taxon.namePublishedInString}}
              <h3>First published in {{taxon.namePublishedInString}}</h3>
            {{/if}}
            {{> partials/taxon/bibliography }}
          </div>
        </div>
      </div>
    </section>
    {{/if}}

    <section id="sources" class="c-article-section">
      <h2>
        <button class="btn c-article-section__title collapser"
           role="button"
           data-toggle="collapse"
           data-target="#sources-main"
           aria-expanded="true"
           >
          Sources
        </button>
      </h2>
      <div id="sources-main" class="container collapse in">
        <div class="row">
          <div class="c-article-section__content">
            {{#each sources.sorted}}
            <p class="source-{{organisation.abbreviation}}">
            <strong>{{organisation.title}}</strong><br/>
            {{#if organisation.bibliographicCitation}}
            {{organisation.bibliographicCitation}}<br/>
            {{/if}}
            {{#each licenses}}
              {{#if notBlank}}
                <small class="source-{{organisation.abbreviation}} text-muted offset">{{{rights}}} {{license}}</small><br/>
              {{/if}}
            {{/each}}
            </p>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    </div>
  </main>

  {{> partials/footer-links}}
</div>
{{> partials/footer initialize="taxon"}}
