{{#if stepExecutions}}
<table class="table job-execution-steps">
  <caption>{{exitStatus.exitDescription}}</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Exit Status</th>
      <th>Started</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody>
    {{#each stepExecutions}}
      <tr class="{{table-status this}}">
        <td>{{stepName}}</td>
        <td>{{status}}</td>
        <td>{{exitStatus.exitCode}}</td>
        <td>{{datetime startTime}}</td>
        <td>{{datetime endTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
