<button type="button" class="btn btn-link {{searchTerm}}" data-term="{{searchTerm}}" data-value="{{searchValue}}">
  {{ searchTerm }}: {{ searchValue }}
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
