<button type="button" class="btn btn-link filter {{className}}" data-term="{{searchTerm}}" data-value="{{searchValue}}">
  {{#if searchTitle}}
    {{searchTitle}}
  {{else}}
    {{ searchTerm }}: {{ searchValue }}
  {{/if}}
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
