<div class="container container--lines">
  <div class="grid grid--columns grid--lines grid--equal-heights">
    {{#each results}}
    <article class="c-card s-theme-{{rank}}">
      <div class="c-card__content">
        <a href="{{url}}">
          <span class="c-card__type">
            <svg class="leaf sprite-leaf-dims">
              <use xlink:href="#sprite-leaf"></use>
            </svg>
            {{rank}}
          </span>
          <h2 class="c-card__title">{{name}} <cite>{{author}}</cite></h2>
          <p>{{{snippet}}}</p>
      </div>
      <div itemscope itemtype="http://schema.org/ImageGallery" class="c-gallery-thumbs">
        {{#each images}}
        <figure class="c-gallery-thumbs__img">
          <div class="c-gallery-thumbs__bg">
            <img src={{url}} itemprop="thumbnail" alt={{caption}} />
          </div>
        </figure>
        {{/each}}
        </a>
      </div>
    </article>
    {{/each}}
  </div>
</div>
