<div class="container container--lines">
  <div class="grid grid--columns grid--lines grid--equal-heights">
    {{#each results}}
    <article class="c-card s-theme-{{rank}}">
      <a href="{{url}}">
        <div class="c-card__content">
          <span class="c-card__type">
            <svg class="leaf sprite-leaf-dims">
              <use xlink:href="#sprite-leaf"></use>
            </svg>
            {{rank}}
          </span>
          <h2 class="c-card__title">{{name}} <cite>{{author}}</cite></h2>
          <p>{{{snippet}}}</p>
        </div>
        {{#if images}}
        <div class="c-gallery-thumbs">
          {{#each images}}
          <figure class="c-gallery-thumbs__img">
            <div class="c-gallery-thumbs__bg">
              {{thumbnailImage this}}
            </div>
          </figure>
          {{/each}}
        </div>
        {{/if}}
      </a>
    </article>
    {{/each}}
  </div>
</div>
