<section class="c-results">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Search Results</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="search-bar">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">All Results ({{totalResults}})</a>
          </li>
          <li>
            <a href="#">Accepted names ({{facets.[taxon.taxonomic_status_s:Accepted]}})</a>
          </li>
          <li>
            <a href="#">With images ({{facets.[taxon.images_not_empty_b:true]}})</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li>
          <li>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default navbar-btn js-show-grid">
                <span class="glyphicon glyphicon-th" aria-hidden="true">
              </button>
              <button type="button" class="btn btn-default navbar-btn js-show-list">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true">
              </button>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
  <div class="container container--lines">
    <div class="grid grid--columns grid--lines grid--equal-heights">
      {{#each results}}
      <article class="c-card s-theme-{{rank}}">
        <a href="{{url}}">
          <div class="c-card__content">
            <span class="c-card__type">
              <svg class="leaf sprite-leaf-dims">
                <use xlink:href="#sprite-leaf"></use>
              </svg>
              {{rank}}
            </span>
            <h2 class="c-card__title">{{name}} <cite>{{author}}</cite></h2>
            <p>{{{snippet}}}</p>
            <!--<span>Published: </span><time datetime="1944">1944</time>-->
          </div>
            <div itemscope itemtype="http://schema.org/ImageGallery" class="c-gallery-thumbs">
                {{#each images}}
                  <figure class="c-gallery-thumbs__img">
                    <div class="c-gallery-thumbs__bg">
                      <img src={{url}} itemprop="thumbnail" alt={{caption}} />
                    </div>
                  </figure>
                {{/each}}
          </div>
        </a>
      </article>
      {{/each}}
    </div>
  </div>

  <div class="container">
    <nav class="c-pagination">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">{{page}}</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
