{{> partials/header}}
<div id="{{taxon.identifier}}" class="s-page">
  <header class="c-header">
    <div class="container">
      {{> partials/header/kew-logo-header}}
      <nav class="c-header__actions">
        <ul class="list-inline">
          <li>Use these results:</li>
          <li><a href="#">Export</a></li>
          <li><a href="#">Print</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <article class="c-article">
    <header class="c-article-header">

      {{#with measurementOrFacts.habitat}}
      <div class="s-border-bottom">
        <div class="container">
          <ol class="breadcrumb">
              <li>Habitat: {{message measurementValue}}</li>
          </ol>
        </div>
      </div>
      {{/with}}

      <div class="container">
        <div class="c-family-list">
          {{classification taxon}}
          {{#with taxon.acceptedNameUsage }}
          <p>Synonym of {{taxonLink this}}</p>
          {{/with}}
        </div>
        {{#with images}}
        <div class="c-gallery-header">
          {{#each headerImages}}
          <div class="col">
            {{fullsizeImage this figure-class="c-gallery-header__img"}}
          </div>
          {{/each}}
        </div>
        {{/with}}
      </div>

    </header>

    <nav class="navbar navbar-default navbar--article">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="c-article-nav collapse navbar-collapse" id="content-navbar">
        <div class="container">
          <ul class="nav navbar-nav navbar-nav--article">
            {{#if descriptions}}
              <li><a href="#descriptions">Description</a></li>
            {{/if}}

            {{#if uses}}
              <li><a href="#uses">Uses</a></li>
            {{/if}}

            {{#if images}}
              <li><a href="#image-gallery">Image Gallery</a></li>
            {{/if}}

            {{#if distributions}}
              <li><a href="#distribution-map">Distribution Map</a></li>
            {{/if}}

            {{#if children}}
              <li><a href="#children">Included {{childRank taxon}}</a></li>
            {{/if}}

            {{#if synonyms}}
              <li><a href="#synonyms">Synonyms</a></li>
            {{/if}}

            {{#if vernacularNames}}
              <li><a href="#vernacular-names">Common Names</a></li>
            {{/if}}

            {{#if bibliography}}
              <li><a href="#bibliography">Bibliography</a></li>
            {{/if}}

            {{#if sources}}
              <li><a href="#sources">Sources</a></li>
            {{/if}}
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </nav>

    {{#with descriptions}}
    <section id="descriptions" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Descriptions</h2>
          <div class="c-article-section__content">
            {{#each bySource}}
              <div class="description">
                <a class="btn collapser{{#unless @first}} collapsed{{/unless}}"
                   role="button"
                   data-toggle="collapse"
                   data-target="#descriptions-{{source.abbreviation}}"
                   aria-expanded="false"><h3>According to {{source.title}}</h3>
                </a><small>{{bracketedSourceLink source}}</small>
                <dl id="descriptions-{{source.abbreviation}}" class="dl-horizontal collapse{{#if @first}} in{{/if}}">
                    {{#each byType}}
                      <dt>{{message type}}</dt>
                      <dd>
                      {{#each descriptions}}
                        <span>{{description}}</span>
                      {{/each}}
                      </dd>
                    {{/each}}
                </dl>
              </div>
            {{/each}}
          </div>

          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with uses}}
    <section id="uses" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Uses</h2>
          <div class="c-article-section__content">
            {{#each bySource}}
              <div class="description">
                <a class="btn collapser{{#unless @first}} collapsed{{/unless}}"
                   role="button"
                   data-toggle="collapse"
                   data-target="#uses-{{source.abbreviation}}"
                   aria-expanded="false"><h3>According to {{source.title}}</h3>
                </a><small>{{bracketedSourceLink source}}</small>
                <dl id="uses-{{source.abbreviation}}" class="dl-horizontal collapse{{#if @first}} in{{/if}}">
                    {{#each byType}}
                      <dt>{{message type}}</dt>
                      <dd>
                      {{#each descriptions}}
                        <span>{{description}}</span>
                      {{/each}}
                      </dd>
                    {{/each}}
                </dl>
              </div>
            {{/each}}
          </div>

          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with otherData}}
    <section="other-data" class="c-article-section offset">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Other data</h2>
          <div class="c-article-section__content">
            <h3>Kew holds these other references to this species</h3>
            <ul class="c-plain-list">
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
              <li>IPNI - The International Plant Names Index</li>
            </ul>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
          </aside>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with images}}
    <section id="image-gallery" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Gallery</h2>
          <div class="c-article-section__content">

            <div class="c-gallery clearfix">
            {{#each all}}
              {{thumbnailImage this figure-class="c-gallery__img"}}
            {{/each}}
            </div>

          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with distributions}}
    <section id="distribution-map" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Distribution</h2>
          <div class="c-article-section__content">
            <div id="c-map">
            </div>

            <a class="btn collapser collapsed"
               role="button"
               data-toggle="collapse"
               data-target="#distribution-listing"
               aria-expanded="false">
              Full Distribution Listing
            </a>
            <div id="distribution-listing" class="collapse">
            {{#if native}}
              <h4>Found In:</h4>
              <p>
              {{#each native}}
                {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
            {{/if}}

            {{#if introduced}}
              <h4>Introduced Into:</h4>
              <p>
              {{#each introduced}}
                {{locality}}{{#unless @last}}, {{/unless}}
              {{/each}}
              </p>
            {{/if}}
            </div>
          </div>
          <aside role="complementary" class="c-article-section__aside">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> <a href="#">Share</a>
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
        </div>
      </div>
    </section>
    {{/with}}

    {{#with children}}
    <section id="children" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Included {{childRank taxon}}</h2>
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
                <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with synonyms}}
    <section id="synonyms" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Synonyms</h2>
          <div class="c-article-section__content">
            <ul class="c-synonym-list two-col">
              {{#each sorted}}
              <li>{{taxonLink this}}</li>
              {{/each}}
            </ul>
          </div>
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
        </div>
      </div>
    </section>
    {{/with}}

    {{#with vernacularNames}}
    <section id="vernacular-names" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Vernacular Names</h2>
          <div class="c-article-section__content">
            <dl class="dl-horizontal">
              {{#each sortedByLanguage as |names language|}}
              <dt>{{language}}</dt>
              <dd>
                {{#each names as |commonName|}}
                  {{commonName}}{{#unless @last}}, {{/unless}}
                {{/each}}
              </dd>
              {{/each}}
            </dl>
          </div>
          {{#if sources}}
          <aside role="complementary" class="c-article-section__aside">
            <ul class="c-reference-list">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span></li>
              {{#each sources}}
              <li>{{sourceLink this}}</li>
              {{/each}}
            </ul>
          </aside>
          {{/if}}
        </div>
      </div>
    </section>
    {{/with}}

    <section id="bibliography" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Bibliography</h2>
          <div class="c-article-section__content">
            {{#if taxon.namePublishedInString}}
            <h3>First published in {{taxon.namePublishedInString}}</h3>
            {{/if}}

            {{#with bibliography.acceptedIn as |accepted|}}
              <h3>Accepted in:</h3>
              <ul class="list-unstyled">
                {{#each accepted}}
                  <li id="reference-{{key}}" class="offset">[{{key}}] {{reference.bibliographicCitation}}</li>
                {{/each}}
              </ul>
            {{/with}}

            {{#with bibliography.synonomizedIn as |synonym|}}
              <h3>Synonym in:</h3>
              <ul class="list-unstyled">
                {{#each synonym}}
                  <li id="reference-{{key}}" class="offset">[{{key}}] {{reference.bibliographicCitation}} [{{reference.taxonRemarks}}]</li>
                {{/each}}
              </ul>
            {{/with}}

            {{#if bibliography.references}}
              <h3>Literature</h3>
              <ul class="list-unstyled">
                {{#each bibliography.references}}
                  <li id="reference-{{key}}" class="offset">[{{key}}] {{reference.bibliographicCitation}}</li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
      </div>
    </section>

    <section id="sources" class="c-article-section">
      <div class="container">
        <div class="row">
          <h2 class="c-article-section__title">Sources</h2>
          <div class="c-article-section__content">
            {{#each sources.sorted}}
            <p id="source-{{organisation.abbreviation}}">
              <strong>{{organisation.title}}</strong><br/>
              {{#if organisation.bibliographicCitation}}
              {{organisation.bibliographicCitation}}<br/>
              {{/if}}
              {{#each licenses}}
              <small id="source-{{organisation.abbreviation}}{{key}}" class="text-muted offset">[{{key}}] {{{rights}}} {{license}}</small><br/>
              {{/each}}
            </p>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
  </article>

  {{> partials/footer-links}}
</div>
{{> partials/footer initialize="taxon"}}
