{{> partials/header}}
<div class="s-page">
  <header class="c-header">
    <div class="container">
      {{> partials/header/kew-logo-header}}
    </div>
  </header>

  <article class="c-article">
    <h1>{{title}}</h1>

    {{#each errors}}
    <div class="alert alert-danger">
      {{this}}
    </div>
    {{/each}}

    {{#with resource}}
    <form action id="resource" action="/resource" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="_title_id">Title</label>
        <input type="text" id="_title_id" name="title" value="{{title}}" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="_uri_id">Archive Url</label>
        <input type="text" id="_uri_id" name="uri" value="{{uri}}" class="form-control"/>
      </div>

      <div class="form-group">
        <label for"_resourceType_id">Resource Type</label>
        <select id="_resourceType_id" name="resourceType">
          {{#each resourceTypes}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      {{radioGroup this "type" "names,taxonomy,images" labelClass="radio-inline"}}

      <div class="form-group">
        <label for="_image_server">Image server url</label>
        <input type="text" id="_image_server" name="imageServer" value="{{imageServer}}" class="form-control"/>
      </div>

      <input value="Submit" type="submit" class="btn"/>
    </form>
  {{/with}}
  </article>
  {{> partials/admin-footer}}
</div>
{{> partials/footer}}

