{{#if stepExecutions}}
<table class="table job-execution-steps">
  <caption>Job Steps</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Exit Status</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Skip Count</th>
    </tr>
  </thead>
  <tbody>
    {{#each stepExecutions}}
      <tr>
        <td>{{stepName}}</td>
        <td>{{status}}</td>
        <td>{{exitStatus.exitCode}}</td>
        <td>{{datetime startTime}}</td>
        <td>{{datetime endTime}}</td>
        <td>{{skipCount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
