<h2>Scheduled Jobs</h2>

<div id="job-lists" class="panel-group" role="tablist" aria-multiselectable="true">
  {{#each results}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#job-lists" href="#job-list-{{id}}">{{description}}</a>
      </h3>
    </div>

    <div id="job-list-{{id}}" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <table class="table">
          {{#if schedulingPeriod}}
          <tr>
            <th scope="row">Scheduling Period</th>
            <td>{{schedulingPeriod}}</td>
          </tr>
          {{/if}}

          {{#if nextRun}}
          <tr>
            <th scope="row">Next Scheduled Run</th>
            <td>{{nextRun}}</td>
          </tr>
          {{/if}}

          {{#with jobConfigurations}}
          <tr>
            <th scope="row">Jobs</th>
            <td>
              <ol>
                {{#each this}}
                <li>{{description}}</li>
                {{/each}}
              </ol>
            </td>
          </tr>
          {{/with}}
        </table>

        <button class="btn btn-danger btn-sm delete-job-list" type="button" data-id="{{id}}">Delete</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<button class="btn btn-success" type="button" id="add-job-list">New Job List</button>
