<article class="c-article">
  <h1>{{title}}</h1>
  <h2>Organisation</h2>

    <form action id="organisation" action="/organisation" method="post" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="_title_id">Title</label>
        <input type="text" id="_title_id" name="title" value="{{title}}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="_identifier_id">Identifier</label>
        <input type="text" id="_identifier_id" name="identifier" value="{{identifier}}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="_abbreviation_id">Abbreviation</label>
        <input type="text" id="_abbreviation_id" name="abbreviation" value="{{abbreviation}}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="_uri_id">Url</label>
        <input type="text" id="_uri_id" name="uri" value="{{uri}}" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="_bibliographicCitation_id">Bibliographic Citation</label>
        <textarea id="_bibliographicCitation_id" name="bibliographicCitation" class="form-control"/>{{bibliographicCitation}}</textarea>
      </div>
    </form>
    <div class="add-organisation">
      <button class="add btn btn-default">Save</button>
    </div>
  <h2>Resource</h2>
    <div class= "resource-form">

      <input type="text" name="organisation" value={{identifier}}>
    </div>

  <div class="add-resource">
    <button class="add btn btn-default">Add Resource</button>
  </div>
</article>
