{{> partials/header}}
<div class="s-page">
  <header class="c-header">
    <div class="container">
      {{> partials/header/kew-logo-header}}
    </div>
  </header>

  <article class="c-article">
    <header class="c-article-header">
      <h1>{{organisation.title}}</h1>
      <a class="btn btn-outline-primary" href="/resource?form=true&organisation={{organisation.id}}">New Resource</a>
    </header>

    <section class="c-article-section">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          {{#each organisation.resources}}
          <tr>
            <td><a href="/resource/{{id}}">{{title}}</a></td>
            <td><span class="label">{{batchStatus}}</span></td>
            <td>{{duration}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </section>
  </article>

  {{> partials/admin-footer}}
</div>
{{> partials/footer}}
