<a href="/taxon/{{ taxon.identifier }}">
  <div class="featured-taxon__image">
    {{#if featuredImage}}
      <img class="photo" src={{imageUrl featuredImage "thumbnail" }}>
    {{else}}
      <div class="photo-placeholder"></div>
    {{/if}}
  </div>
  <div class="featured-taxon__rank">{{taxon.taxonRank}}</div>
  <div class="featured-taxon__name">{{taxon.scientificName}} {{taxon.scientificNameAuthorship}}</div>
  <div class="featured-taxon__descriptions">
    {{#each descriptions}}
    <div class="featured-taxon__description">
      <strong>
        {{#if type.parentType}}
        <span class="featured-taxon__description-type">{{message type.parentType.name}}</span>
        {{else}}
        <span class="featured-taxon__description-type">{{message type.name}}</span>
        {{/if}}
      </strong>
      <span class="featured-taxon__description-content">{{{description}}}</span>
    </div>
    {{/each}}
  </div>
</a>