<a href="/taxon/{{ taxon.identifier }}">
  <div class="featured-taxon__image">
    {{#if featuredImage}}
      <img src={{imageUrl featuredImage "thumbnail" }}>
    {{else}}
      <div class="photo-placeholder"></div>
    {{/if}}
  </div>
  <div class="featured-taxon__rank">{{taxon.taxonRank}}</div>
  <div class="featured-taxon__name">{{taxon.scientificName}} {{taxon.scientificNameAuthorship}}</div>
  <div class="featured-taxon__descriptions">
    {{#each taxon.descriptions}}
    <div class="featured-taxon__description">
      {{#if types}}
      <strong>
        {{#each types}}
        <span class="featured-taxon__description-type">{{message name}}</span>
        {{/each}}
      </strong>
      {{/if}}
      <span class="featured-taxon__description-content">{{{description}}}</span>
    </div>
    {{/each}}
  </div>
</a>