<ul class="filters">
  <li>Only show:</li>
  <li>
    <a class="facet accepted_names {{selected f "accepted_names"}}" data-facet="accepted_names" href="#">Accepted Names</a>
  </li>
  <li>
    <a class="facet has_images {{selected f "has_images"}}" data-facet="has_images" href="#">Images</a>
  </li>
  <li>
    <a class="facet family_f {{selected f "family_f"}}" data-facet="family_f" href="#">
      <svg class="Family results-kingdom rank_facets" xmlns:xlink="http://www.w3.org/1999/xlink" >
        <use xlink:href="#Plantae-svg"></use>
      </svg>
      Families</a>
  </li>
  <li>
    <a class="facet genus_f {{selected f "genus_f"}}" data-facet="genus_f" href="#">
      <svg class="Genus results-kingdom rank_facets" xmlns:xlink="http://www.w3.org/1999/xlink" >
        <use xlink:href="#Plantae-svg"></use>
      </svg>
      Genera</a>
  </li>
  <li>
    <a class="facet species_f {{selected f "species_f"}}" data-facet="species_f" href="#">
      <svg class="Species results-kingdom rank_facets" xmlns:xlink="http://www.w3.org/1999/xlink" >
        <use xlink:href="#Plantae-svg"></use>
      </svg>
      Species</a>
  </li>
  <li>
    <a class="facet infraspecific_f {{selected f "infraspecific_f"}}" data-facet="infraspecific_f" href="#">
      <svg class="Infraspecific results-kingdom rank_facets" xmlns:xlink="http://www.w3.org/1999/xlink" >
        <use xlink:href="#Plantae-svg"></use>
      </svg>
      Infraspecifics</a>
  </li>
</ul>
