<div class="container c-results-footer hidden">
  <div class="results-footer">
    <div class="results-footer__pagination">
      <ul class="results-footer__pagination-controls pagination">
        <li id="paginate-first">
          <a data-cursor="*" data-page="0">First page</a>
        </li>
        <li id="paginate-next">
          <a data-cursor="{{cursor}}" data-page="{{page}}">Next</a>
        </li>
      </ul>
      <div class="results-footer__pagination-summary">Page
        {{page}}
        of
        {{totalPages}}</div>
    </div>
    <div class="results-footer__page-size">
      <label for="pageSize">Results per page:</label>
      <select id="pageSize" class="c-per-page hidden">
        <option value="24" {{selected perPage 24}}>24</option>
        <option value="120" {{selected perPage 120}}>120</option>
        <option value="480" {{selected perPage 480}}>480</option>
      </select>
    </div>
  </div>
</div>