<div class="container container--lines">
  <div class="grid grid--lines grid--equal-heights">
    {{#each results}}
    <article class="c-card {{color-theme this}}">
      <a href="{{url}}" class="clearfix">
        <div class="c-card__content">
          <div class="c-card__type">
            <svg class="results-kingdom" xmlns:xlink="http://www.w3.org/1999/xlink" >
              <use xlink:href="#{{kingdom}}-svg"></use>
            </svg>
            {{rank}}
          </div>
          <p class="c-card__title">{{nameAndAuthor this}}</p>
          {{#if synonymOf}}
          <p>
            <b>Synonym of</b>: {{nameAndAuthor synonymOf}}
          </p>
          {{/if}}
          {{#if snippet}}
          <p>
            {{{snippet}}}
          </p>
          {{/if}}
        </div>
        {{#if images}}
        <div class="c-gallery-thumbs">
          {{#firstThree images}}
          <figure class="c-gallery-thumbs__img">
            <div class="c-gallery-thumbs__bg">
              {{thumbnailImage this}}
            </div>
          </figure>
          {{/firstThree}}
        </div>
        {{/if}}
      </a>
    </article>
    {{/each}}
  </div>
</div>
