<footer class="c-footer" role="contentinfo">
  <nav class="container">
    <ul class="c-footer__links list-inline">
      <li><a href="/about">{{{message "footer_about"}}}</a></li>
      <li><a href="/terms-and-conditions">{{{message "footer_terms_and_conditions"}}}</a></li>
      <li><a href="/privacy">{{{message "footer_privacy"}}}</a></li>
      <li><a href="/search-help">{{{message "footer_help"}}}</a></li>
    </ul>
    <span class="c-footer__copyright">{{{message "footer_copyright"}}}</span>
  </nav>
</footer>
