<header class="c-header">
  <div class="container">
    <a id="kew-logo" href="/" aria-label="{{ message "site.title" }}-Go to the homepage">{{> (str kewLogo) }}</a>
    <nav class="top-right-nav" aria-label="Site links">
      <button class="toggle-nav" aria-expanded="false">
        {{> svg/navigation-icons }}
      </button>
      <ul class="active" tabindex="-1">
        <li><a class="top-link" href="/">{{{message "header_home"}}}</a></li>
        <li class="desktop"><a class="top-link" href="/about">{{{message "footer_about"}}}</a></li>
        <li class="mobile">
          <a class="top-link about-toggle" href="#">
            About {{> svg/more }}
          </a>
          <ul class="children">
              <li><button class="top-link about-toggle">{{> svg/back }} Back</button></li>
              <li><a class="top-link" href="/about">{{{message "footer_about"}}}</a></li>
              <li><a class="top-link" href="/what-we-do">{{{message "header_what_we_do"}}}</a></li>
              <li><a class="top-link" href="/cite-us">{{{message "header_cite_us"}}}</a></li>
              <li><a class="top-link" href="/contact">{{{message "header_contact"}}}</a></li>
          </ul>
        </li>
        <li><a class="top-link last" href="/search-help">{{{message "footer_help"}}}</a></li>
      </ul>
    </nav>
    {{#if withSearchBox }}
      {{> partials/search/search-box }}
    {{/if}}
  </div>
</header>